@import '~bootstrap/scss/bootstrap';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Utilities
img {
    max-width: 100%;
}

//header

header {
    .nav {
        a {
            color: white;
            border: 1px solid transparent;

            &:hover {
                border: 1px solid white;
                color: rgba(253, 253, 11, 0.795);
            }

            form {
                input {
                    min-width: 500px;
                    padding: 0.3rem;
                    border: 1px solid black;
                    border-radius: 2px;
                }
            }
        }
    }
}